In [1]:
grade=85

In [2]:
if grade>=60:
    print('passed')

passed

In [3]:
if grade>=60:
    print('passed')
     print('passed second time')  # indentation is madatory else you will get error

IndentationError: unexpected indent (3519988147.py, line 3)

In [4]:
if grade>=60:
    print('passed')
    print('passed second time')

passed
passed second time

In [5]:
if 1:
    print('non zero values are true so this will print')

non zero values are true so this will print

In [6]:
if 0:
    print(' zero is false  so this will not print')

In [7]:
# string considered and true and empty is considered as false

In [8]:
if 'rupesh':
    print('this will consider as true and print the value')

this will consider as true and print the value

In [9]:
if '':
    print('this will consider as false  and will not  print the value')

In [11]:
# similarty collection with value considered and true and empty collection considered and false

In [12]:
x==85

NameError: name 'x' is not defined

In [13]:
grade=85

In [14]:
if grade>=60:
    print('Passed')

Passed

In [15]:
grade=55

In [16]:
if grade>=60:
    print('Passed')  # condition false so nothing got printed below

In [17]:
grade=85

In [18]:
if grade>=60:
    print('passed')
else:                       # by default the indendation comes right below the print but we need to take "else" to begining to consider this as new condition 
    print('Falied')

passed

In [19]:
if grade>=99:
    print('passed')
else:                       # by default the indendation comes right below the print but we need to take "else" to begining to consider this as new condition 
    print('Falied')

Falied

In [20]:
grade=87

In [21]:
if grade>=60:     # now store the result into a variable 
   result='Passed'
else:                      
    result='Falied'

In [22]:
result

'Passed'

In [23]:
result =('Passed01' if grade>=60 else 'Falied01') # this is called conditional expression , basically the value of entire expression is true then leftside value and right side valuw will be whne the entire expression is false

In [24]:
result

'Passed01'

In [25]:
'Passed01' if grade>=60 else 'Falied01'

'Passed01'

In [26]:
grade=49

In [27]:
if grade>=60:
    print('passed')
else:                       # multi statements  in suites 
    print('Falied')
    print('you must take this course again ')

Falied
you must take this course again

In [28]:
if grade>=60:
    print('passed')
else:                       # multi statements  in suites 
    print('Falied')
print('you must take this course again ') # if you see it is still excuted , now this print is considered not part of if and else bloack , so this will always print

Falied
you must take this course again

In [29]:
if grade>=40:
    print('passed')
else:                       # multi statements  in suites 
    print('Falied')
print('you must take this course again ')

passed
you must take this course again

In [30]:
#nested else if statement 

grade=77

In [31]:
if grade>=90:
    print('A')
elif grade>=80:
    print('B')
elif grade>=70:
    print('C')
elif grade>=60:
    print('D')
else:
    print('F')

C

In [1]:
# while iteration statement

In [2]:
product=3

In [3]:
while product<=50:
    product=product*3

In [4]:
product

81

In [5]:
product =3

In [6]:
while product<=1000:
    product=product*7

In [7]:
product

1029

In [8]:
# we can also execute all the statements in single cell like below

In [9]:
product =3
while product<=1000:
    product=product*7

In [10]:
product

1029

In [11]:
# for iteration statement

In [12]:
for character in 'programing':
    print(character,end=' ') # this second argument "end" , by default   argument will have new line character
    # so we can explicitley mantion what would be the chracater like here seperate with space (end=' ') or something like seperate with comma "," we need to mention as (end=',')

p r o g r a m i n g

In [13]:
for character in 'programing':
    print(character)

p
r
o
g
r
a
m
i
n
g

In [14]:
for character in 'programing':
    print(character,end=',')

p,r,o,g,r,a,m,i,n,g,

In [15]:
print(10,20,30)

10 20 30

In [16]:
print(10,20,30,sep=', ') # default it seperate by space , but we can mention seperatot what we want with sep argument

10, 20, 30

In [17]:
# for loop with list

In [18]:
total=0

In [19]:
for number in [2,-3,0,17,9]:    # list represent in square brackets []
    total=total+number

In [20]:
total

25

In [21]:
#for loop counter control loop

In [22]:
for counter in range(10):                # range is an built  in function , here it will generate sequence values from 0 to 9 
    print(counter,end=' ')

0 1 2 3 4 5 6 7 8 9

In [23]:
total=0
for number in range(1000000):
    total=total+number

In [24]:
total

499999500000

In [25]:
total=0
for num in [1,2,3,4,5]:
    total+=num   # this is similar to total=total+num , this is just a another way of doing it

In [26]:
total

15

In [27]:
x=12
x**=2  # which is equal to x=x**2

In [28]:
x

144

In [29]:
%run class_average.py

Class average is 81.7

In [30]:
# f string or format string , we can add a placeholder by using this

In [33]:
number1=7
number2=5
average=number1*number2
print(f'{number1} times {number2} is {number1*number2}')  
# here by using f string or formating sting we can add place holder inside cutrly brackets so it will automatically repace the values while priting
# and we alos can do atrhimetic oprations inside

7 times 5 is 35

In [34]:
%run class_average_sentinel.py

Enter grade, -1 to end:  97
Enter grade, -1 to end:  88
Enter grade, -1 to end:  72
Enter grade, -1 to end:  -1

Class average is 85.67

In [35]:
# range function : there are 3 different version of range function

In [36]:
for num in range(5,10):   # start value  5 and end value 10
    print(num,end=' ')

5 6 7 8 9

In [37]:
for num in range(0,10,2):   # which is loop increment by 2 
    print(num,end=' ')

0 2 4 6 8

In [38]:
for num in range(10,0,-2):   # which is loop decrement by 2 
    print(num,end=' ')

10 8 6 4 2

In [39]:
for num in range(10,0,2):  
    print(num,end=' ')

In [44]:
for num in range(99,-1,-11):
    print(num,end=' ')

99 88 77 66 55 44 33 22 11 0

In [47]:
total=0
for num in range(2,101,2):
    total=total+num
                                
print(f'the sum is {total}') # you need to check for indentation else this print is part of loop and exeucte in every iteration

the sum is 2550

In [48]:
# type decimal for monetary amounts

In [49]:
amount=112.31

In [50]:
print(amount)

112.31

In [51]:
amount

112.31

In [52]:
print(f'{amount:.20f}')

112.31000000000000227374

In [53]:
from decimal import Decimal # this is we are importing python libracy 
# here we are importing decimal library and in the library we have multiple modules so we nned to mention which moduke we are going to impot too
# in a syntax format  :   from <library> import <module>
# here both library and module bothe are same , except in module D is caps in Decimal 
# Please note python is a case sensitive 

principal=Decimal('1000.00')
principal

Decimal('1000.00')

In [54]:
principal

Decimal('1000.00')

In [55]:
rate=Decimal('0.05')

In [56]:
rate

Decimal('0.05')

In [57]:
x=Decimal('10.5')

In [58]:
y=Decimal('2')

In [59]:
x+y

Decimal('12.5')

In [60]:
x//y

Decimal('5')

In [61]:
x=x+y

In [62]:
x

Decimal('12.5')

In [67]:
amount=0
for year in range(1,11):
    amount=principal*(1+rate)**year
    print(f'{year:>2}{amount:10.2f}')
    
# here >2 is nothing but padding , since we give > 2  , if the given number is single digit it will add one extra space left side 
# ex :  "1"  will display as " 1" , that is why  all the years in below output from 1 to 9 have extra space left side 

# :10.2f is nothing but , 10 digit character with 2 floating number , which is something like float(10,2) in oracle 
# since it is 10 characters so it added spaces before the amount , check the spaces between year and amount

 1   1050.00
 2   1102.50
 3   1157.62
 4   1215.51
 5   1276.28
 6   1340.10
 7   1407.10
 8   1477.46
 9   1551.33
10   1628.89

In [70]:
tax=Decimal('6.25')
amount=Decimal('37.45')
taxamt=amount*(tax/100)
total=amount+taxamt
print(f'{total:.2f}')

39.79

In [71]:
# control statements

In [74]:
for num in range(100):
    if num == 10:
        break
    print(num,end=' ') # please note the indentation here

0 1 2 3 4 5 6 7 8 9

In [75]:
for num in range(10):
    if num == 5:
        continue
    print(num,end=' ') # please note the indentation here

0 1 2 3 4 6 7 8 9

In [76]:
# boolean operators

In [77]:
gender='Female'

In [78]:
age=70

In [79]:
if gender=='Female' and age>=65:
    print('Senior female')

Senior female

In [82]:
sem_avg=83

In [81]:
final_exam=95

In [83]:
if sem_avg>=90 or final_exam>=90:
    print('Student gets ans A')

Student gets ans A

In [84]:
grade=87

In [86]:
if not grade==-1:  # not operator will reverse the condition 
    print(' the next grade is ',grade)

 the next grade is  87

In [1]:
# measures of central Tendency - Mean , Median and mode

In [3]:
grades=[85,93,45,89,85]

In [4]:
sum(grades)/len(grades)   # python buitin functions(sum,len) , this is to calculate Mean

79.4

In [5]:
import statistics    # this library  already has the mean and median and etc so we nned to calulate manually, since we havn't mentioned the module name , while calling we need to metion the modulee name with dot to call that in the program  
statistics.mean(grades)

79.4

In [6]:
statistics.median(grades) # here it automatically sort the list and then give the value 9median is the middle value in the list)

85

In [7]:
statistics.mode(grades)

85

In [8]:
sorted(grades) # to sort the list of values , see here the middle value is 85

[45, 85, 85, 89, 93]

In [9]:
grades   # the original list is unchanges after the sorted , sorted witll not chnage the order , it just deisplay the data in sorted order

[85, 93, 45, 89, 85]

In [29]:
grades1=[47,95,88,73,73,88,84]

In [24]:
import statistics
statistics.mean(grades1)

78.28571428571429

In [25]:
statistics.median(grades1)

84

In [30]:
statistics.mode(grades1)

88