In [1]:
#Lession 5 :  sequences , lists and tuples

In [2]:
# list : it store all same type of data (homogenious) , it is not a mandatoty to store all same type of daata
# it is okwy to store hetrogenious data if we like

In [3]:
c=[-45,6,0,72,1543]

In [4]:
c

[-45, 6, 0, 72, 1543]

In [5]:
#accessing indivual element in list , the index position start with 0

In [6]:
c[0]

-45

In [7]:
c[4]

1543

In [8]:
len(c) # since it has 5 element it retuen 5

5

In [9]:
# lists are  not a fixed length and it is dynamic and resizable

In [10]:
# we can alos use negetive index number to refer the element

In [11]:
c[-1]

1543

In [12]:
c[-3]

0

In [13]:
a=1

In [14]:
b=2

In [15]:
c[a+b]

72

In [16]:
# lists are mutable , meaning that contet can be chnages in the list

In [17]:
c[4]=17

In [18]:
c

[-45, 6, 0, 72, 17]

In [19]:
s='hello'

In [20]:
s[0]

'h'

In [21]:
s[0]='m'  # stings are immutable

TypeError: 'str' object does not support item assignment

In [22]:
c[100]

IndexError: list index out of range

In [23]:
c[0]+c[4]

-28

In [24]:
a_lists =[]  # empty list

In [25]:
# add items to list

In [27]:
for number in range(1,6):
    a_lists+=[number]  # so it concatinate the to the list

In [28]:
a_lists

[1, 2, 3, 4, 5]

In [29]:
letters=[]

In [30]:
letters+='Python'   # wne you use += in the left side python consoder the right side is iterable object

In [31]:
letters

['P', 'y', 't', 'h', 'o', 'n']

In [32]:
list1=[10,20,30]

In [33]:
list2=[40,50]

In [34]:
concat_list=list1+list2

In [35]:
concat_list

[10, 20, 30, 40, 50]

In [36]:
list1

[10, 20, 30]

In [37]:
list2

[40, 50]

In [38]:
for i in range(len(concat_list)):
    print(f'{i}: {concat_list[i]}')

0: 10
1: 20
2: 30
3: 40
4: 50

In [39]:
# comparision

In [40]:
a=[1,2,3]

In [41]:
b=[1,2,3]

In [42]:
c=[1,2,3,4]

In [43]:
a==b

True

In [44]:
a==c

False

In [45]:
a<c  # this is true because a is subset of c

True

In [46]:
c>=b

True

In [47]:
def cube_list(values):  # please note here it doesn't say we ned to pass list to this function , but if we pass anything other tan list it weill error out since inside ligic we are refering index number , i can pass anything as long as it is compatable 
    for i in range(len(values)):
        values[i]**=3

In [49]:
numbers=[1,2,3,4,5,6,7,8,9,10]

In [50]:
cube_list(numbers)

In [51]:
numbers

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [53]:
character=[]

In [54]:
character+='birthday'

In [55]:
character

['b', 'i', 'r', 't', 'h', 'd', 'a', 'y']

In [ ]:
# tuple  :   list of comma seperated element inside parathasis , we can create empty tuple ex:  ()

In [1]:
student_tuple=()

In [2]:
student_tuple

()

In [3]:
len(student_tuple)

0

In [4]:
student_tuple='john','green',3.3  # this is alos a tuple without parathasis , it is commanlty grouped related data

In [5]:
student_tuple

('john', 'green', 3.3)

In [6]:
# if you see the output , pythos always use the paratasis while displaying

In [7]:
len(student_tuple)

3

In [8]:
another_stud_tuple=('mary','Red',3.3)

In [9]:
another_stud_tuple

('mary', 'Red', 3.3)

In [10]:
a_single_tuple=('red')

In [12]:
a_single_tuple # if you see , since we assigned the single values it consider as a string not a tuouple 
# parathisis not determine the touple , ot is the camma , will determine the tuple

'red'

In [13]:
a_single_tuple=('red',) # since now added the camma after that now it considered as touple

In [14]:
a_single_tuple

('red',)

In [15]:
# accessing the tuples

In [16]:
time_tuple=(9,16,1)

In [17]:
time_tuple

(9, 16, 1)

In [18]:
time_tuple[0] # index start from zero

9

In [19]:
time_tuple[2]

1

In [20]:
time_tuple[0]+time_tuple[1]+time_tuple[2]

26

In [22]:
tuple1=(10,20,30)

In [24]:
tuple2=tuple1  # this is a reference assignment ,result of this both of the variables refet to the same object in the memory

In [25]:
tuple2

(10, 20, 30)

In [26]:
tuple1

(10, 20, 30)

In [27]:
tuple1+=(40,50) # touple is immutable , instead modifying  python  ceate new object with touple1 and add new elements and the new object reference will assigne back to touple 1

In [28]:
tuple1

(10, 20, 30, 40, 50)

In [29]:
tuple2

(10, 20, 30)

In [30]:
numbers=[1,2,3,4]

In [31]:
numbers+=(6,7) # add tuple to list

In [32]:
numbers

[1, 2, 3, 4, 6, 7]

In [33]:
# tuples are immutable but they are capable of storing mutable objects

In [34]:
student_tuple=('Amanda','Blue',[98,75,87])

In [35]:
student_tuple

('Amanda', 'Blue', [98, 75, 87])

In [36]:
student_tuple[2]

[98, 75, 87]

In [37]:
student_tuple[2][1]

75

In [38]:
student_tuple[2][0]

98

In [39]:
student_tuple[2][0]=11

In [40]:
student_tuple

('Amanda', 'Blue', [11, 75, 87])

In [47]:
single_elem_tuple=(123.45,)  # self check

In [48]:
single_elem_tuple

(123.45,)

In [44]:
list_1=[1,2,3]

In [45]:
tuple_2=(4,5,6)

In [46]:
list_1+tuple_2 # for concatination we nned have two same types

TypeError: can only concatenate list (not "tuple") to list

In [49]:
# unpacking sequence of values

In [50]:
student_tuple=('Amanda',[98,85,87])

In [51]:
first_name,grades=student_tuple #  tuple unpacking :->no of items must match , so we are assigning the tuple to two new varianles

In [52]:
first_name

'Amanda'

In [53]:
grades

[98, 85, 87]

In [54]:
first,second='hi' # string unpacking

In [55]:
first

'h'

In [56]:
second

'i'

In [57]:
num1,num2,num3=[2,3,5] # list unpacking

In [58]:
num1

2

In [59]:
num3

5

In [60]:
num1,num2,num3=range(10,40,10) # with range function , start with 10 upto 40 (not including 40) increment by 10

In [61]:
num1

10

In [62]:
num3

30

In [63]:
num2

20

In [64]:
num1=99

In [65]:
num2=22

In [66]:
# swap the values in a single statement with tuple , since we added these variables num1,num2 inside () it treat as tuple and unpack the tuple

In [67]:
num1,num2=(num2,num1)

In [68]:
num1

22

In [69]:
num2

99

In [70]:
color=['red','orange','yellow']

In [71]:
list(enumerate(color))  # so this enumerate will generae a sequence of tuples , which each tuple constain two elements one is index number and the another the value for the corresponding element
# this list function , the the sequence as an argument and turn it into list object

[(0, 'red'), (1, 'orange'), (2, 'yellow')]

In [72]:
# so here we have list contain tuples

In [74]:
tuple(enumerate(color))  # tuple inside a tuple

((0, 'red'), (1, 'orange'), (2, 'yellow'))

In [75]:
for index,value in enumerate(color):
    print(f'{index} : {value}')
    
    
# here this will unpack the enumerate-color tuple and assign the values into index and value

0 : red
1 : orange
2 : yellow

In [78]:
%run fig05_01.py

Creating a bar chart from numbers:
Index   Value   Bar
    0      19   *******************
    1       3   ***
    2      15   ***************
    3       7   *******
    4      11   ***********

In [79]:
# %load fig05_01.py
# fig05_01.py
"""Displaying a bar chart"""
numbers = [19, 3, 15, 7, 11]

print('\nCreating a bar chart from numbers:')
print(f'Index{"Value":>8}   Bar')

for index, value in enumerate(numbers):
    print(f'{index:>5}{value:>8}   {"*" * value}')


#**************************************************************************
#* (C) Copyright 1992-2018 by Deitel & Associates, Inc. and               *
#* Pearson Education, Inc. All Rights Reserved.                           *
#*                                                                        *
#* DISCLAIMER: The authors and publisher of this book have used their     *
#* best efforts in preparing the book. These efforts include the          *
#* development, research, and testing of the theories and programs        *
#* to determine their effectiveness. The authors and publisher make       *
#* no warranty of any kind, expressed or implied, with regard to these    *
#* programs or to the documentation contained in these books. The authors *
#* and publisher shall not be liable in any event for incidental or       *
#* consequential damages in connection with, or arising out of, the       *
#* furnishing, performance, or use of these programs.                     *
#**************************************************************************

In [80]:
"*"*2  # if you want to repeat any string , just give the sting in double quotes and multiply with the number that you wat to repeat

'**'

In [81]:
"!"*3

'!!!'

In [82]:
"#"*5

'#####'

In [83]:
"R"*2

'RR'

In [84]:
#self check

In [85]:
high_low=('Monday',87,65)

In [86]:
high_low

('Monday', 87, 65)

In [87]:
print(f'{high_low[0]} : high ={high_low[1]},low={high_low[2]}')

Monday : high =87,low=65

In [88]:
day,high=high_low # to unpack the tuple , the no of variables must be same in left side

ValueError: too many values to unpack (expected 2)

In [89]:
names=['Amanda','Sam','David']

In [90]:
names

['Amanda', 'Sam', 'David']

In [92]:
for i,name in enumerate(names):
    print(f'{i}:{name}')

0:Amanda
1:Sam
2:David

In [93]:
# subset of sequence of values  : slicing techniques

In [94]:
numbers =[2,3,5,7,11,13,17,19]

In [95]:
numbers

[2, 3, 5, 7, 11, 13, 17, 19]

In [96]:
numbers[2:6] # start from index 2 and upto 6 (not inclusing 6)

[5, 7, 11, 13]

In [97]:
numbers[:6] # start from 0 and upto 6 (not include 6)  which is equal to numbers[0:6]

[2, 3, 5, 7, 11, 13]

In [98]:
numbers[6:] # start from index 6 and to end of the list

[17, 19]

In [100]:
numbers[2:-2] # start fron index 2 and end at second from last

[5, 7, 11, 13]

In [102]:
numbers[6:len(numbers)]

[17, 19]

In [103]:
numbers[:] # it treat start from 0 and upto end of the list , this is useful if we want to coopy a list

[2, 3, 5, 7, 11, 13, 17, 19]

In [104]:
numbers[::2] # it indictes first : will consider start from 0 second : will consider lenth of list and third argument value 2 instruct python to select every 2nd element 
# it means postion 0 and position 2 and position 4 and position 6 like so .....
# this is alos same functionality as range function range(10,40,10) , 1)start from 10 2) untill 40 and 3)increment by 10

[2, 5, 11, 17]

In [105]:
numbers[::-1] # start from 0 untill end and in reverse order (start from negetive step )

[19, 17, 13, 11, 7, 5, 3, 2]

In [1]:
# modify the content of list by slicing operator

In [4]:
numbers=[2,3,5,7,11,13,17,19]

In [5]:
numbers

[2, 3, 5, 7, 11, 13, 17, 19]

In [6]:
numbers[0:3]

[2, 3, 5]

In [7]:
numbers[0:3]=['two','three','five']

In [8]:
numbers

['two', 'three', 'five', 7, 11, 13, 17, 19]

In [9]:
# delete elemenmt by slice

In [10]:
numbers[0:3]=[] # if we assigning the empty list that literally says delete the element from 0 to 3

In [11]:
numbers

[7, 11, 13, 17, 19]

In [12]:
numbers=[2,3,5,7,11,13,17,19]

In [13]:
numbers

[2, 3, 5, 7, 11, 13, 17, 19]

In [16]:
numbers[::2]=[100,100,100,100]

In [17]:
numbers

[100, 3, 100, 7, 100, 13, 100, 19]

In [18]:
id(numbers)

1663766720704

In [19]:
numbers[:]=[]

In [20]:
numbers

[]

In [22]:
id(numbers) # reference number is same  , since we modified the existing object list

1663766720704

In [23]:
numbers=[]  # this consider physically new object

In [24]:
numbers

[]

In [26]:
id(numbers) # that is why the refernec number is different

1663766409920

In [27]:
#serlf check

In [53]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]  # or you can do this way numbers=list(range(1,16))

In [54]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [35]:
numbers[1::2]   # display only even numbers

[2, 4, 6, 8, 10, 12, 14]

In [55]:
numbers[5:9]=[0,0,0,0] # or you can do numbers[5:9]=[*]*len(numbers[5:9])

In [56]:
numbers

[1, 2, 3, 4, 5, 0, 0, 0, 0, 10, 11, 12, 13, 14, 15]

In [44]:
numbers[5:9]

[0, 0, 0, 0]

In [45]:
numbers[5:]=[] # keep only first five elements

In [46]:
numbers

[1, 2, 3, 4, 5]

In [47]:
numbers[:]=[] # delete remaining elements

In [48]:
numbers

[]

In [49]:
[0]*5 # tried example hear

[0, 0, 0, 0, 0]

In [50]:
(0)

0

In [51]:
(0)*5

0

In [58]:
# another way to delete element from list which is del method , it not only delete the elements for list it also delete the variable form python session

In [61]:
numbers=list(range(1,10))

In [62]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
del numbers[-1] # delete last element

In [64]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8]

In [65]:
del numbers[0:2] # delete from index 0 to 2

In [66]:
numbers

[3, 4, 5, 6, 7, 8]

In [67]:
del numbers[::2] # delete everyother element

In [68]:
numbers

[4, 6, 8]

In [69]:
del numbers[:]

In [70]:
numbers

[]

In [71]:
# if you see number variabl is present

In [72]:
del numbers

In [73]:
numbers # see the error because now the variable numbers is deleted

NameError: name 'numbers' is not defined

In [74]:
# self check

In [75]:
numbers=list(range(1,15))

In [76]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [77]:
del numbers[0:4]

In [78]:
numbers

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [79]:
del numbers[::2]

In [80]:
numbers

[6, 8, 10, 12, 14]

In [81]:
# passing object to function

In [96]:
def modify_elements(items):
    """multiplies all elemens values in items by 2"""
    for i in range(len(items)):
        items[i]*=2

In [94]:
numbers=[10,3,7,1,9]

In [97]:
modify_elements(numbers)

In [98]:
numbers

[20, 6, 14, 2, 18]

In [99]:
numbers_tuple=(10,20,30)

In [100]:
numbers_tuple

(10, 20, 30)

In [101]:
modify_elements(numbers_tuple) # eventhough the function doesn't mention what values to be passed to it , it will throw error the if the data in non compatable

TypeError: 'tuple' object does not support item assignment

In [102]:
# sorting elements in list

In [103]:
numbers=[10,3,7,1,9,4,2,8,5,6]

In [104]:
numbers.sort()

In [105]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [106]:
numbers=[10,3,7,1,9,4,2,8,5,6]

In [108]:
numbers.sort(reverse=True) # this is sort decending order , Please note keyword True is case sensitive , T must be capital : True

In [109]:
numbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [110]:
numbers=[10,3,7,1,9,4,2,8,5,6]

In [111]:
assending_numbers=sorted(numbers) # sorted in a buit in function it takes as argument in iterebale object , it gives back a list in assending order 
# this is useful if you dont want to change the original list (numbers ) so by this way you can assign the result into new variable list but the original list is unchanged
# you can also use this sorted function on string and tuples , where as .sort() is a method whic is avaialbe to only list

In [112]:
assending_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [113]:
numbers  # see it is not modifed unlike numbers.sort()

[10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [114]:
letters='gfrtjxabe'

In [115]:
assending_letter=sorted(letters)

In [116]:
assending_letter # it is sorted and gives the result in list

['a', 'b', 'e', 'f', 'g', 'j', 'r', 't', 'x']

In [117]:
letters

'gfrtjxabe'

In [118]:
colors=('red','orange','yellow','green','blue')

In [119]:
sorted_colors=sorted(colors)

In [120]:
sorted_colors  # it is sorted and result in list , eventhough the input in tuple

['blue', 'green', 'orange', 'red', 'yellow']

In [121]:
colors

('red', 'orange', 'yellow', 'green', 'blue')

In [122]:
sorted(colors,reverse=True)  # by passinf second argument reverse=True we can sort in desending order

['yellow', 'red', 'orange', 'green', 'blue']

In [123]:
# self check

In [124]:
foods=['Cookies','pizza','Grapes','apples','steak','Bacon']

In [125]:
foods.sort()

In [126]:
foods # if you see first it sorted based on capital lettes and then lower case letters

['Bacon', 'Cookies', 'Grapes', 'apples', 'pizza', 'steak']