In [2]:
name=input("what is you name")

what is you name rupesh mandadi

In [3]:
name  # print the variable , and the string output is  deisplay in sigle quiotes like 'rupesh mandadi'

'rupesh mandadi'

In [4]:
print (name) # here the string display without quotes

rupesh mandadi

In [5]:
name=input("what is you name ?") # now give the value with single quotes

what is you name ? 'rupesh mandadi'

In [6]:
print(name)

'rupesh mandadi'

In [7]:
name # if you notice it has now double quotes because we gave value with single quotes

"'rupesh mandadi'"

In [8]:
value1=input('Enter first number :')

Enter first number : 7

In [9]:
value2=input('Enter second number :')

Enter second number : 3

In [10]:
value1+value2 # it considered as string because it received as input  so it concatinated , so we nned to convert

'73'

In [11]:
int(value1)+int(value2) # converted to number

10

In [12]:
value1=int(value1) # this is another way to convert and assigned to the same variable

In [13]:
value2=int(value2)

In [14]:
value1+value2

10

In [15]:
value3=int(input('what is the 3rd number :'))  # this will automaticaaly convert to number while assigning

what is the 3rd number : 7

In [18]:
# convert this as comment cell

In [19]:
bad_value=int(input('enter bad conversion value'))

enter bad conversion value hello

ValueError: invalid literal for int() with base 10: 'hello'

In [20]:
int(10.5) # it truncate the floating number when we convert to integer

10

In [21]:
float(3.3)

3.3

In [22]:
float('6.2') # though if we have value as string with single quotes it convert to number

6.2

In [23]:
float(6.2)*3.3

20.46

In [24]:
# if statement and comparision operators

In [25]:
7>4

True

In [26]:
4>5

False

In [27]:
4==4 # == comparision operator ,  = is assign

True

In [29]:
# %load fig02_01.py
# fig02_01.py
"""Compare integers using if statements and comparison operators."""

print('Enter two integers and I will tell you', 
      'the relationships they satisfy.')

# read first integer
number1 = int(input('Enter first integer: '))

# read second integer
number2 = int(input('Enter second integer: '))

if number1 == number2:
    print(number1, 'is equal to', number2)

if number1 != number2:
    print(number1, 'is not equal to', number2)

if number1 < number2:
    print(number1, 'is less than', number2)

if number1 > number2:
    print(number1, 'is greater than', number2)

if number1 <= number2:
    print(number1, 'is less than or equal to', number2)

if number1 >= number2:
    print(number1, 'is greater than or equal to', number2)

##########################################################################
# (C) Copyright 2019 by Deitel & Associates, Inc. and                    #
# Pearson Education, Inc. All Rights Reserved.                           #
#                                                                        #
# DISCLAIMER: The authors and publisher of this book have used their     #
# best efforts in preparing the book. These efforts include the          #
# development, research, and testing of the theories and programs        #
# to determine their effectiveness. The authors and publisher make       #
# no warranty of any kind, expressed or implied, with regard to these    #
# programs or to the documentation contained in these books. The authors #
# and publisher shall not be liable in any event for incidental or       #
# consequential damages in connection with, or arising out of, the       #
# furnishing, performance, or use of these programs.                     #
##########################################################################

In [31]:
%run fig02_01.py  # %run is the command to run the .py files

Enter two integers and I will tell you the relationships they satisfy.

Enter first integer:  37
Enter second integer:  42

37 is not equal to 42
37 is less than 42
37 is less than or equal to 42

In [32]:
%run fig02_01.py

Enter two integers and I will tell you the relationships they satisfy.

Enter first integer:  7
Enter second integer:  7

7 is equal to 7
7 is less than or equal to 7
7 is greater than or equal to 7

In [33]:
ls   # to see the list of files

 Volume in drive C is Windows
 Volume Serial Number is E490-A675

 Directory of C:\Users\MANDADI\Documents\PythonForProgrammers-master\examples\ch02

03/08/2023  06:45 PM    <DIR>          .
03/04/2023  01:33 PM    <DIR>          ..
03/08/2023  06:09 PM    <DIR>          .ipynb_checkpoints
03/04/2023  01:32 PM             1,801 fig02_01.py
03/04/2023  01:32 PM             1,402 fig02_02.py
03/07/2023  08:45 PM               602 session_01.ipy
03/08/2023  06:45 PM            13,833 session_02.ipynb
03/04/2023  01:32 PM    <DIR>          snippets_ipynb
03/04/2023  01:32 PM    <DIR>          snippets_py
               4 File(s)         17,638 bytes
               5 Dir(s)  94,761,975,808 bytes free

In [34]:
x=3

In [35]:
1<=x<=5   # it checks two conditions i.e   x is gtreater than 1 and x less than 5  , in other wards x is in rage of 1 to 5

True

In [36]:
x=10

In [37]:
1<=x<=5

False

In [38]:
7=<10

SyntaxError: cannot assign to literal (30852308.py, line 1)

In [39]:
7<=10

True

In [40]:
print(5<9, 5>10,5==5 ,5!=9)

True False True True

In [41]:
type(7)

int

In [42]:
type(4.1)

float

In [43]:
type('rupesh')

str

In [50]:
x=7

In [45]:
x+10

17

In [46]:
# now the value 7 is an object and the variable x referes to this object , in python everything is an object

In [51]:
x=x+10  # now the new object will be created with 17 and x will be point to object 17 and the old object 7 will be avilabe to garbage collection which python will take care the free the space and mae it availabe to user again

In [52]:
x

17

In [53]:
type(x)

int

In [54]:
x=4.1

In [55]:
type(x)

float

In [56]:
x='rupesh'

In [57]:
type(x)

str

In [58]:
type(7.5*3)

float

In [59]:
type(2.5*2)

float

In [60]:
2.5*2

5.0

In [61]:
# %load fig02_02.py
# Fig. 2.2: fig02_02.py
"""Find the minimum of three values."""

number1 = int(input('Enter first integer: '))
number2 = int(input('Enter second integer: '))
number3 = int(input('Enter third integer: '))

minimum = number1  

if number2 < minimum:
    minimum = number2

if number3 < minimum:
    minimum = number3

print('Minimum value is', minimum)

##########################################################################
# (C) Copyright 2019 by Deitel & Associates, Inc. and                    #
# Pearson Education, Inc. All Rights Reserved.                           #
#                                                                        #
# DISCLAIMER: The authors and publisher of this book have used their     #
# best efforts in preparing the book. These efforts include the          #
# development, research, and testing of the theories and programs        #
# to determine their effectiveness. The authors and publisher make       #
# no warranty of any kind, expressed or implied, with regard to these    #
# programs or to the documentation contained in these books. The authors #
# and publisher shall not be liable in any event for incidental or       #
# consequential damages in connection with, or arising out of, the       #
# furnishing, performance, or use of these programs.                     #
##########################################################################

In [63]:
%run fig02_02.py

Enter first integer:  12
Enter second integer:  27
Enter third integer:  36

Minimum value is 12

In [64]:
%run fig02_02.py

Enter first integer:  27
Enter second integer:  12
Enter third integer:  36

Minimum value is 12

In [65]:
min(36,27,12)  # functions

12

In [66]:
max(32,12,27)

32

In [67]:
print('range:' ,min(32,12,27),'-',max(32,12,27))

range: 12 - 32